

*
*:before,
*: after{
	  padding: 0;
	  margin: 0;
	  box-sizing: border-box; 
	  font-family: "Poppins",sans-serif;
	  font font-weight: 500;
}
body{
	height: 100vh;
	background:  linear linear-gradient(
        #lightgreen
        #greenyellow

	);
}
.container{
	background-color: whitesmoke;
	width: 95%;
	min-width: 420px ;	
	padding: 35px 50px;
    transform: translate(-50%,-50%);
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 10px;
    box- box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
}
h1{
   font-size: 30px;
   text-alignment: center;
   color:lightgreen    
   }
   p{

   	 position: relative;
   	 margin: auto;
   	 width: 100%;
   	 text-align: center;
   	 color: yellowgreen;
   	 font font-size: 14px;   
   	 font-weight: 400;
   }
   form{
   	    width: 100%;
   	    position: relative;
   	    margin: 30px auto 0 auto;
   }
   .row{
   	width: 100%; 
   	display: grid;
   	grid-template-columns: repeat(auto-fit, 
   		minmax(300px,1fr)); 
   	       grid-gap: 20px 30px;
   	       margin botton: 20px;
}
label{
	color: mediumblue;
	font-size: 14px;

}
textarea,
input{
	width: 100%;
	font-weight: 400;
	padding: 8px 10px;
	border-radius: 5px;
	border: 1.2px solid #c4cae0;
	margin-top: 5px;
} 
textarea{
	resize: none;
}
textarea:focus
input:focus{
	outline: none;
	border-color: blue;
}
button{
	border: none;
	padding: 10px 20px;
	background-color: darkgoldenrod;: 
	border-radius: 3px;


}